@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #dfeef0;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

i,
span {
    display: inline-block;
}

.line{
    width: 80%;
    margin: 1.1em 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

/* -----------------
    SIDEBAR STYLE
-------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 1em;
    min-width: 80px;
    max-width: 80px;
    background-image: linear-gradient(to bottom, #177681, #39aebb, #2a8994, #33929d, #3b9ca7);
    color: #fff;
    transition: all 0.3s;
    box-shadow: 1px 2px 20px hsla(186, 76%, 19%, 0.452);
}

.logo-responsive{
    max-width: 45px;
}

.logo{
    max-width: 140px;
    display: none;
}

#sidebar .sidebar-header .container-user p{
    display: none;
}

#sidebar.active {
    min-width: 250px;
    max-width: 250px;
    text-align: left;
}

#sidebar.active .sidebar-header .logo-responsive {
    display: none;
}

#sidebar.active .sidebar-header .container-user p{
    display: block;
}

#sidebar.active .sidebar-header .logo{
    display: block;
}

#sidebar.active .copy{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em 0 0;
    color: rgba(255, 255, 255, 0.5);
}

#sidebar.active .copy .copycopy{
    font-size: 0.7em;
}

#sidebar.active .copy .recode{
    font-size: 0.6rem;
}

#sidebar .sidebar-header .logo-responsive {
    display: block;
}

#sidebar ul li a {
    font-size: 1.4em;
    padding: 20px;
    text-align: center;
    display: block;
}

#sidebar.active ul li a{
    display: flex;
    padding: 0.4em 1.2em ;
    font-size: 1.2em;
}

#sidebar.active ul li a i {
    display: block;
}

#sidebar.active ul li a span{
    display: block;
    font-size: 0.7em;
    margin-left: 0.5em;
}

#sidebar .sidebar-header {
    padding: 15px 15px 0 15px;
    display: flex;
    flex-direction: column;
}

#sidebar .sidebar-header .container-user{
    width: 100%;
}

#sidebar .sidebar-header .container-user .user {
    max-width: 120px;
    border: solid 0.15em #8fccd3;
    border-radius: 60px;
    box-shadow: 1px 2px 15px #287a83;
}

#sidebar .sidebar-header .container-user .user .img-user{
    width: 100%;
    border-radius: 60px;
}

#sidebar ul li a span{
    display: none;
}

#sidebar .copy{
    display: none;
}

#sidebar ul li a:hover {
    color: #177681;
    background: #97dce4;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #97dce4;
}

/* -----------------
    CONTENT STYLE
-------------------- */

#content {
    width: 100%;
    padding: 10px 0;
    min-height: 100vh;
    transition: all 0.3s;
}

#content .container-fluid span{
    color: #39aebb;
    font-size: 1.9em;
}

/* -----------------
    MEDIAQUERIES
-------------------- */

@media (max-width: 768px) {
    #sidebar{
        display: none;
        transition: all 0.3s;
    }

    #sidebar.active{
        display: block;
        padding-top: 1em;
        min-width: 80px;
        max-width: 80px;
        background-image: linear-gradient(to bottom, #177681, #39aebb, #2a8994, #33929d, #3b9ca7);
        color: #fff;
        box-shadow: 1px 2px 20px hsla(186, 76%, 19%, 0.452);
    }

    #sidebar.active .sidebar-header .container-user p{
        display: none;
    }

    #sidebar.active .sidebar-header .logo-responsive {
        display: block;
    }

    #sidebar.active .sidebar-header .logo {
        display: none;
    }

    #sidebar.active ul li a {
        font-size: 1.4em;
        padding: 20px;
        text-align: center;
        display: block;
    }

    #sidebar.active ul li a span{
        display: none;
    }

    #sidebar.active .copy{
        display: none;
    }
}